.POPOSList {
  display: flex;
  flex-direction: column;
}

/* ListBody */
.ListBody {
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ListHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.ListHeader form {
  display: block
}
.ListHeader input {
  width: 551px;
  padding: 10px 16px;
}
.getFavourite button {
  width: 40px;
  height: 36.8px;
  background-color: transparent;
  border: none;
}


/* Smaller screens and tablets */
@media only screen and (max-width: 960px) {
  .POPOSList {
      grid-template-columns: 1fr 1fr;
  }
}

/* Small screens mobile */
@media only screen and (max-width: 700px) {
  .POPOSList {
      grid-template-columns: 1fr;
  }
}